#sidebar{
	height:840px;
	width:267px;	
	float:left;
	display:relative;
	background:#fff url("../img/sidebar-line.png") right repeat-y;
	padding-top:10px;
}
#sidebar embed{
	display:block;
	width:266px;
	height:200px;
	
}
 
 #cont{
	height:830px;
	width:560px;	
	background:#fff;
    float:left;
	text-align:left;
	padding:10px 20px;
	
 }

 #cont h1{
	 background:#fff url('../img/xinloupan.jpg') no-repeat left center;
	 text-indent:-9999px; 
 }
 
 #cont dl{
	 display:block;
    float:left;
	text-align:center;
	margin-right:15px;
 }
 #cont dl dd img{
	 display:block;
	 height:150px;
	 width:250px;
 }
  #cont dl dt {
	 background:#ccc;
	height:32px;
	 width:230px;
	 line-height:32px;
	 margin-left:10px;
 }
 #cont #jishu{
	 text-align:right;
	 clear:both;
	 padding-top:30px;
 }
 
 