*{margin:0;
  padding:0;
}
body{
	width:867px;
	margin:0 auto;
	text-align:center;
	font-size:12px;
	background:#ccc;
}
a{text-decoration:none;}

/* 头部 */

#header{
	width:867px;
	height:323px;
	background:yellow;
}
embed{width:867px;
	height:323px;}

/* 导航栏 */
	#nav{
	width:867px;
	height:51px;
	background:url(../img/nav-bck.png) repeat-x;	
}
#nav ul{list-style:none;
    height:51px;
	width:867px;
	line-height:51px;
}
#nav ul li a{
         color:#fff;
		 display:inline-block;
		 width:124px;
		 height:51px;
    }
#nav ul li a:hover{text-decoration:none;
         text-decoration:underline;
		 color:yellow;
		 font-size:16px;
    }
#nav .end a{text-decoration:none;
         color:#fff;
		 display:inline-block;
		 width:124px;
		 height:51px;
    }	
#nav li{float:left;
    height:51px;
	width:124px;
	
	
}
#nav .end{
	display:inline-block;
    height:51px;
	width:123px;
}
/* 脚部 */
#footer{
	width:867px;
	height:110px;
	background:url(../img/footer-bck.png);
	float:left;
	text-align:right;
	color:#fff;
}
#footer .cot{
            background:url(../img/fot-cot-bck.png) repeat-x;
			height:32px;
			margin-top:20px;
			line-height:32px;
			
}       

#footer .cot  li{
               display:inline-block;
			   padding-right:20px;
			   padding-left:10px;
			   	height:32px;
}
#footer p{
               
			   padding-right:10px;
			   font-size:120%;
}
